html, body {
  cursor: move;
  height: 100%;
  width: 100%;
}

.card {
  background-color: #fec285;
  background-image: linear-gradient(0deg, #fec285 0%,
    #fec285 65%,
    #89b096 80%,
    #376f6a 100%);
  height: 100vh;
  max-width: 30rem;
  perspective: 1000px;
  perspective-origin: 25% 75%;
}

@media (min-width: 30rem) {
  .card {
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.75);
    height: 90vh;
    margin-top: 5vh;
  }
}

h1 {
  font-family: 'Slabo 27px', sans-serif;
  margin-top: 8rem;
  perspective: 400px;
}

.border-white { border-color: #fff; }

#rocket { perspective: 400px; }
#valley { perspective: 800px; }